@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: theme('colors.dark.700');
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: theme('colors.dark.600');
  }
}
